<footer class="footer">
  <small>
    The <a href="https://sosmed-apps.herokuapp.com/">Social on Rails</a>
    by <a href="http://github.com/blacksyan">Ilham Adi Pratama</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>